body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.background {
  background-image: url(images/Sakura1.jpg);
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.gameboard {
  background-color: #b192b8; /*color of gameboard*/
  width: 600px; /*fixed width*/
  height: 745px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.box {
  background-color: #e0c1d3; /*boxes on gameboard*/
  color: #804b6a; /*text in boxes*/
  margin: 2px;
  width: 175px;
  height: 175px;
}

button {
  height: 175px;
  color: #804b6a;
  font-size: 2.5rem;
}

.endGame {
  display: flex;
  flex-direction: column;
  order: 3;
  height: 50px;
}

.messageboard {
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

#textline {
  display: flex;
  align-content: center;
  justify-content: center;
  color: #804b6a;
  font-size: xx-large;
}
