body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.background {
  background-image: url(images/Sakura1.jpg);
  margin: 0px;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  margin: 0px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.gameboard {
  background-color: #b192b8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 600px;
  height: 600px;
}

.box {
  background-color: #e0c1d3;
  color: #804b6a;
  margin: 2px;
  width: 175px;
  height: 175px;
}

button {
  height: 175px;
  color: rgb(243, 215, 243);
}

.endGame {
  display: flex;
  flex-direction: column;
  order: 3;
}
